{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/index.css"%}">
</head>
<body>
<div class="container" align="center">

    <div class="aha">
        <h1 id="ss"> OTT platforms</h1>

<hr>
<a class="btn btn-primary btn-lg"href="/amazon">AMAZONPRIME</a> &nbsp &nbsp
        <a  class="btn btn-primary btn-lg" href="/netflix">NETFLIX</a> &nbsp &nbsp
        <a class="btn btn-primary btn-lg" href="/aha">AHA</a> &nbsp &nbsp  <br> <br>
        <a class="btn btn-primary btn-lg" href="/hotstar">HOTSTAR</a>  &nbsp &nbsp
        <a class="btn btn-primary btn-lg" href="/mxplayer">MX PLAYER</a> &nbsp &nbsp
        <a class="btn btn-primary btn-lg" href="/zee5">ZEE5</a> &nbsp &nbsp
</div>
</div>



</body>
</html>